.App-header {
  margin: 0rem 10%; /* 왼쪽과 오른쪽 여백을 10%로 설정 */
}

.main-banner {
  height: 300px;
  background-image: url(/public/banner_main_1.jpeg);
  background-position: center;
}

.main-book {
  display: flex;
  flex-wrap: wrap; /* 도서 아이템이 너비를 벗어나면 다음 줄로 이동 */
  justify-content: center;
  margin: 0rem 10%; /* 왼쪽과 오른쪽 여백을 10%로 설정 */
  padding: 1.75rem 0rem;
  max-width: 60rem;
}

.main-book > div {
  flex-basis: calc(33.33% - 20px); /* 각 도서 아이템의 너비를 33.33%로 설정하고 간격을 제외 */
  margin: 0.625rem;
  padding: 0.625rem;
  text-align: left;
}

.main-book img {
  width: 100%;
  height: auto;
}

.title {
  margin-top: 1.25rem;
  font-size: 1.125rem;
}

.content {
  margin-bottom: 8px;
  font-size: 1rem;
  color: grey;
}

.price {
  font-size: 0.75rem;
  color: rgb(8, 123, 70);
}

